{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "globals": {
  },
  "env": {
    "browser": false,
    "node": true,
    "es2020": true
  },
  "rules": {
    "quotes": [1, "double"],
    "no-console": "off",
    "indent": ["error", 2],
    "semi": ["error", "always"],
    "no-trailing-spaces": [2]
  }
}
